.payment{
    background-color: white;

}

.h1 {
    text-align: center;
    padding: 10px;
    font-weight: 400;
    background-color: rgb(234, 237, 237);
    border-bottom: 1px solid lightgray;
}

.h1 a{
    text-decoration: none;
}

.payment__section{
    display: flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid lightgray;
}

.payment__title{
    flex: 0.2;
}

.payment__address, .payment__items, .payment__details{
    flex: 0.8;
}

.pay{
    background: #0d0d0d;
    color: white;
    border-radius: 15px;
}
.pay:active{
    transform: scale(0.9);
    box-shadow: 0 2.5px 5px lightgray;
}

